<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575991597176-hqfq1sep7i2k46925f9u0ep7i8hlmbam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575991597176-hqfq1sep7i2k46925f9u0ep7i8hlmbam</string>
	<key>API_KEY</key>
	<string>AIzaSyC2GpwY51Ade39uoX_glgBVmTF3TuXkihE</string>
	<key>GCM_SENDER_ID</key>
	<string>575991597176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.Phuong.shop</string>
	<key>PROJECT_ID</key>
	<string>foodapp-33a2d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-33a2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575991597176:ios:5652156e859a2cd673458d</string>
</dict>
</plist>